<script>
window.onerror = function(m,u,l){
alert('Error:'+m+'\nURL:'+u+'\nLine:'+l);
return true;
};
</script>
<div id="video" style="position:absolute;left:0px;top:0px;">
</div>
<script>
var player;
a = window.location.href;

b = a.substring(a.indexOf("?") + 1);

c = b.split(",");

v = 0;

f1();

function f1(){
document.getElementById("video").innerHTML = "<div id='player'></div>";
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
}

function onYouTubeIframeAPIReady(){
player = new YT.Player('player', {height:window.innerHeight,width:window.innerWidth,
videoId:c[0],
events:{
'onReady':onPlayerReady,
'onStateChange':onPlayerStateChange
}
});
}

function onPlayerReady(event) {
player.playVideo();

window.onresize = function(){
player.setSize(width=window.innerWidth,height=window.innerHeight);
}
}

function onPlayerStateChange(event){
if (event.data === YT.PlayerState.ENDED){
v++;

if (v > c.length - 1){
v = 0;
}

player.loadVideoById(c[v]);
}
}

</script>