<script>
window.onerror = function(m,u,l){
alert('Error:'+m+'\nURL:'+u+'\nLine:'+l);
return true;
};
</script>
<body style="background-image:url('');background-attachment:fixed;background-repeat: no-repeat;background-size: cover;background-color:000000;">
<div id="video" style="position:absolute;left:0px;top:0px;">
</div>
<script>
var player;
video = document.getElementById("video");

var images;

imageIndex = 0;

position1 = 0;

width1 = 420;
height1 = (width1 * 9) / 16;

left1 = 0;
top1 = 0;

a = window.location.href;
b = a.substring(a.indexOf("?") + 1);

d = b.split("&");

if (d.length > 3){
images = d[3].split(",");

document.body.style.backgroundImage = "url('" + images[0] + "')";

window.setInterval(function(){
imageIndex++;

if (imageIndex > images.length - 1){
imageIndex = 0;
}

document.body.style.backgroundImage = "url('" + images[imageIndex] + "')";
},30000);
}

if (d.length > 2){
position1 = d[2] * 1;
}

if (d.length > 1){
width1 = d[1];

height1 = (width1 * 9) / 16;
}

b = d[0];

c = b.split(",");

v = 0;

window.onresize = resize;
f1();

function resize(){
switch(position1){
case 0:
resize1((window.innerWidth - width1) / 2,(window.innerHeight - height1) / 2);
break;
case 1:
resize1(0,0);
break;
case 2:
resize1(window.innerWidth - width1,0);
break;
case 3:
resize1(window.innerWidth - width1,window.innerHeight - height1);
break;
case 4:
resize1(0,window.innerHeight - height1);
break;
}
}

function resize1(x,y){
video.style.left = x;
video.style.top = y;
}

function f1(){
video.innerHTML = "<div id='player'></div>";
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
}

function onYouTubeIframeAPIReady(){
player = new YT.Player('player', {height:height1,width:width1,
videoId:c[0],
events:{
'onReady':onPlayerReady,
'onStateChange':onPlayerStateChange
}
});
}

function onPlayerReady(event) {
player.playVideo();

resize();
}

function onPlayerStateChange(event){
if (event.data === YT.PlayerState.ENDED){
v++;

if (v > c.length - 1){
v = 0;
}

player.loadVideoById(c[v]);

resize();
}
}

</script>
</body>