<video src="" autoplay controls loop style="position:absolute;left:0px;top:0px;width:auto;height:100%">
</video>
<script>
video = document.getElementsByTagName("video")[0];
a = window.location.href;
videos = a.substring(a.indexOf("?") + 1).split(",");

index = 0;
video.src = videos[index].replace("https","http");

video.onended = function(){
index++;
f1();
}

function f1(){
if (index > videos.length - 1){
index = 0;
}
else if (index < 0){
index = 0;
}

video.src = videos[index].replace("https","http");
};

window.addEventListener("click", function(event){
if (event.clientY < 400){
if (event.clientX > 400){
index++;
f1();
}
else if (event.clientX < 100){
index--;
f1();
}
}
else{
video.webkitRequestFullscreen();
}
});

</script>