<script>
window.onerror = function(m,u,l){
alert('Error:'+m+'\nURL:'+u+'\nLine:'+l);
return true;
};
</script>
<body style="background-color:#000000;">
<video id="video" src="" autoplay controls loop style="position:absolute;left:0px;top:0px;">
</video>
<script>
video = document.getElementById("video");

position = 0;

width = 420;
height = (width * 9) / 16;

left1 = 0;
top1 = 0;

a = window.location.href;
b = a.substring(a.indexOf("?") + 1);

d = b.split("&");

if (d.length > 2){
position = d[2] * 1;
}

if (d.length > 1){
width = d[1];

height = (width * 9) / 16;
}

video.src = d[0];

c = b.split(",");

v = 0;

window.onresize = resize;
window.onload = resize;

function resize(){
switch(position){
case 0:
resize1((window.innerWidth - width) / 2,(window.innerHeight - height) / 2);
break;
case 1:
resize1(0,0);
break;
case 2:
resize1(window.innerWidth - width,0);
break;
case 3:
resize1(window.innerWidth - width,window.innerHeight - height);
break;
case 4:
resize1(0,window.innerHeight - height);
break;
}
}

function resize1(x,y){
video.style.width = width;
video.style.left = x;
video.style.top = y;
}

</script>
</body>